page-dashboard {

    .input-border{
        border: 1px solid #c1c1c1;
        border-radius: 5px;
        margin-top: 7px;
    }

    .input-border-url{
        border: 1px solid #c1c1c1;
        border-radius: 5px;
        margin-top: 7px;
        width: 259% !important;
    }
}
